@{
    Page.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="~/dist/img/image1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary">Estadísticas</h5><br />
                <p class="card-text text-justify">Lleva un regístro minucioso de tus ingresos y egresos, esto ayudará a tu negocio a proyectarse, tendrás un factor muy importante a tu favor.</p>
                <p class="card-text"><small class="text-muted">ATTE: Administración</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/dist/img/image2.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary">Trabajo en conjunto</h5><br />
                <p class="card-text text-justify">Contarás con nuestro soporte técnico en cada momento que lo necesites, nuestra aplicación será tu más fiel aliado para alcanzar tus metas.</p>
                <p class="card-text"><small class="text-muted">ATTE: Administración</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="~/dist/img/image3.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-primary">Nuevas oportunidades</h5><br />
                <p class="card-text text-justify">Al formar parte de la comunidad de <strong>BuhoSV</strong> te encuentras en un entorno de emprendedurismo, lo cual te brindará nuevos afiliados.</p>
                <p class="card-text"><small class="text-muted">ATTE: Administración.</small></p>
            </div>
        </div>
    </div>